*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/libs/
app/src/main/res/drawable/
app/src/main/res/res/drawable/
gradle/wrapper/gradle-wrapper.jar
videosdk/libs/
videosdk/src/main/res/drawable/
